body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#content {
  overflow:auto;
}

#player { 
  padding: 4px;
/*
  margin: 4px;
  background: #333;
  color: #ccc;
  overflow:auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
*/
  width: 90%;
  overflow:auto;
}

#player audio {
  width: 80%
}

video {
}

#transcript {
  width: 90%;
  padding: 1em;
  clear:both;
  overflow:auto;
}


input#line { 
  width: 85%;
  font-size: large;
  font-family: sans-serif;
  padding: 4px;
}


#lines {
  overflow:auto;
  margin: 2px 0;
  border-top: 1px solid #aac;
  padding: 0px;
  width: 100%;
}

#lines li {
  list-style-type:none;
  border-bottom: 1px solid #aac;
  padding: 4px;
}

.line_text {
  padding: 2px 1em;
  text-decoration: none;
  margin: 2px 1em;
  font-size: large;
}
  

#speakers {
  margin: 2px;
}

label {
  cursor: pointer;
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  background: #fde;
  font-size: small;
  padding: 2px;
  margin: 2px;
}

nav { 
  float:right;
  padding: 2px;
}

span#start, span#stop {
  background: #cec3cd;
  padding: 2px;
  margin-right: 2px;
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  font-size: small;
  color: #fff;
}

span#start a, span#stop a {
  text-decoration: none;
  color: #666;
}

span.start {
  float: left;
}

span.stop {
  float: left;
}
